.lock-icon,
.security-property {
  color: $second;
}

.lock-icon-secure {
  color: $string-color;
}

.lock-icon-unknown,
.lock-icon-neutral {
  color: $foreground;
}

.lock-icon-insecure {
  color: $error-color;
}

.security-property-secure {
  color: $string-color;
}

.security-property-neutral {
  color: $error-color;
}

.security-property-insecure {
  color: $error-color;
}

.security-property-info {
  color: $foreground;
}

.security-property-unknown {
  color: $foreground;
}

.url-scheme-secure {
  color: $string-color;
}

.url-scheme-neutral,
.url-scheme-insecure {
  color: $error-color;
}

.url-scheme-separator {
  color: $borderLight;
}
